<configuration>
  <configSections>
    <!--Unity IOC-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
    
  </configSections>
  <unity>
    <!--配置AOP-->
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    
    <containers>
      <container name="DBContainer">
        <!--扩展方式-->
        <extension type="Interception"/>

        <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="Model.WMSDBContext, Model"/>
        
        <register type="EF.Bussiness.Interface.IContainerService, EF.Bussiness.Interface" mapTo="EF.Bussiness.Service.ContainerService, EF.Bussiness.Service">
          <!--扩展-->
          <interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="CodeFirst.Behavior.LogBehavior, CodeFirst"/>

        </register>
        <register type="EF.Bussiness.Interface.IUsergroupUserService,  EF.Bussiness.Interface" mapTo="EF.Bussiness.Service.UsergroupUserService, EF.Bussiness.Service"/>
      </container>
    </containers>
  </unity>
</configuration>